[submodule "casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper.git

[submodule "public"]
	path = public
	url = https://github.com/samus-aran/samus-aran.github.io.git


[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
